
.theory{
    width: 1020px;
    margin: 0 auto;
    background-color: beige;
    border: 2px solid rgb(112, 112, 110);
    border-radius: 5px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;

}

h2{
    font-size: 24px;
}

.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

img.active{
    display: block;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.btn-wrapper{
    width: 1020px;
    margin: 36px auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.btn{
    height: 72px;
    width: 180px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}

.btn-stop{
    background-color: red;
    border: 1px solid red;
}

.btn-continue{
    background-color: green;
    border: 1px solid green;
}

.hidden{
    display: none;
}
